.btn {
  background: #f0c14b;
  border: 1px solid;
  margin-top: 10px;
  border-color: #a88734 #9c7e31 #846a29;
  color: #111;
  padding: 4px 8px;
  width: 200px;
  border-radius: 2px;
  cursor: pointer;
}

.btn:disabled {
  background-color: rgb(224, 224, 224);
}
.btn:disabled:hover {
  opacity: 1;
}
.btn:hover {
  opacity: 0.85;
}
