.header {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #131921;
  position: sticky;
  top: 0;
  z-index: 100;
  font-family: "Ubuntu", sans-serif;
  padding: 0 5px 0 10px;
}
.header__logo {
  /* width: 100px; */
  height: 30px;
  margin: 0 20px;
  margin-top: 12px;
  object-fit: contain;
}

.header__search {
  display: flex;
  align-items: center;
  flex: 1;
  padding: 0;
  margin: 0 20px 0 80px;
  /* border-radius: 24px; */
  /* border: 1px solid red; */
}
.header__searchInput {
  height: 18px;
  border: none;
  width: 100%;
  padding: 10px;
  outline: none;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.header__searchIcon {
  padding: 5px;
  height: 28px !important;
  width: 28px !important;
  background-color: #febd69;
  color: #333;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.header__searchIcon:hover {
  cursor: pointer;
  background-color: #f1ad55;
}
.header__nav {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.header__option {
  color: #fff;
  display: flex;
  flex-direction: column;
  margin: 0px 10px;
  padding: 5px;
  border: 2px solid transparent;
}
.header a {
  border: 1px solid transparent;
  border-radius: 3px;
  margin-right: 5px;
  height: 45px;
  text-decoration: none;
}
.header a:hover {
  border-color: #fff;
  cursor: pointer;
}

.header__optionLineOne {
  font-size: 12px;
}
.header__optionLineTwo {
  font-size: 15px;
  font-weight: 800;
}

.header__optionBasket {
  display: flex;
  align-items: center;
  color: #fff;
}
.header__basketCount {
  margin-left: 10px;
}
.header__optionBasket > svg {
  font-size: 2rem;
}
.header__optionBasket > span {
  font-size: 1.2rem;
}

.header__linkLogo,
.header__linkBasket {
  padding: 0px;
}
.header__linkBasket {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 10px;
}
